<html>
    <head>
        <title>App Enquete</title>
        <body>
         <h2>Detalhes da Enquete {{ pergunta.id }}</h2>

         {% for autor in autor %}
        <li><u>Nome:</u><a href="{% url 'main:lista_autor' %}">{{ autor.nome }}</a> <u>Cidade:</u> {{ autor.cidade }} <u>Email:</u> {{ autor.email }}</li> 
         {% endfor %}
         <p>
         <u>Pergunta</u>: {{ pergunta.texto }}<br>
         <u>Data de publicação</u>: {{ pergunta.data_publicacao }} 



         {% if error_message %}
         <hr>
         

         <strong>{{ error_message }}</strong>
         <hr/>
         {% endif %}
         
         <form action = "{% url 'main:votacao' pergunta.id %}" method = "post">
         {% csrf_token %}

         <ul>
             {% for opcao in pergunta.opcao_set.all %}
                 <li><input type ="radio" name="opcao" id="opcao{{ foloop.counter }}" value="{{ opcao.id }}">
                 <label for="opcao{{ foloop.counter }}"> {{ opcao.texto }} 
                 </li>

             {% endfor %}
            
              

         </ul>
         <input type ="submit" value="Registre seu voto">
  </form>
  <hr>
  <a href ="{% url 'main:index' %}">Retorne a página principal</a>
        </body>
    </head>
</html>