<html>

    <head>
        <title>App Enquete</title>

        <body>
            {% if ultimas_perguntas %}
            <h2>Lista das Últimas enquetes</h2>
            <ul>
                {% for pergunta in ultimas_perguntas %}
                <li><a href = "{% url 'main:detalhes' pergunta.id %}">{{ pergunta.texto }}</a>(<a href="{% url 'main:resultado' pergunta.id %}">Ver parcial</a>)</li>

                {% endfor %}
            </ul>
            {% else %}
            <p>Não há enquetes cadastras até o momento</p>
            {% endif %}
        </body>
    </head>
</html>