<html>
    <head>
        <title>App Enquete</title>
        <body>
         <h2>Lista Enquete de autores</h2>
        
         {% for lista in lista %}
         
            <li><u>Nome:</u>{{ lista.nome }} <u>Cidade:</u>{{ lista.cidade }} <u>Email:</u>{{ lista.email }}</li>

           {% endfor %}
       
         
          {% if ultimas_perguntas %}
       
            <ul>
                {% for pergunta in ultimas_perguntas %}
                <li>{{ pergunta.texto }}</a></li>

                {% endfor %}
            </ul>
            {% else %}
            <p>Não há enquetes cadastras até o momento</p>
            {% endif %}
  <hr>
 
  <a href ="{% url 'main:index' %}">Retorne a página principal</a>
        </body>
    </head>
</html>